* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

.wrapper {
    width: 500px;
    height: 40px;
    font-size: 0;
    white-space: nowrap;
    overflow: scroll;
    margin-left: 100px;
}

.wrapper li {
    width: 100px;
    height: 38px;
    border: 1px solid #fff;
    background: #fac;
    display: inline-block;
    font-size: 12px;
    line-height: 38px;
    text-align: center;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}