/* 整体样式 */

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font: 14px/1.5 Helvetica Neue, Helvetica, Arial, Microsoft Yahei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
    color: #333;
    background-color: #fff;
    min-width: 1226px;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4 {
    font-style: normal;
}

a,
a:hover {
    text-decoration: none;
}

a:active,
a:hover {
    outline: 0;
}

button,
input {
    color: inherit;
    font: inherit;
    margin: 0;
}

button {
    -webkit-appearance: button;
    cursor: pointer;
}


/* 头部 */

header {
    width: 1226px;
    margin-right: auto;
    margin-left: auto;
    height: 100px;
}

.logo {
    float: left;
    margin-top: 22px;
}

.logo>img {
    width: 56px;
}

nav {
    float: left;
    /* width: 850px; */
    padding-top: 12px;
    padding-left: 178px;
    font-size: 16px;
}

nav>ul>li {
    float: left;
}

nav>ul>li>a {
    display: block;
    padding: 26px 10px 38px;
    padding-left: 10px;
    padding-right: 10px;
    color: #333;
    background-color: rgba(0, 0, 0, 0);
}

nav>ul>li>a:hover {
    color: #ff6700;
}

.search {
    float: right;
    width: 296px;
    margin-top: 25px;
}

.searchForm {
    position: relative;
    width: 296px;
    height: 50px;
    z-index: 20;
}

.searchForm .search-text {
    position: absolute;
    top: 0;
    right: 51px;
    z-index: 1;
    border: 1px solid #e0e0e0;
    outline: 0;
    transition: all .2s;
    width: 223px;
    height: 48px;
    padding: 0 10px;
    font-size: 14px;
    line-height: 48px;
}

.search-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 52px;
    height: 48px;
    font-size: 24px;
    line-height: 24px;
    background: #fff;
    color: #616161;
    border: 1px solid #e0e0e0;
    outline: 0;
    transition: all .2s;
}

.search-btn:hover {
    background: #ff6700;
    color: #fff;
}


/* 下拉商品列表 */

.subDiv {
    display: none;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    border-top: 1px solid #eee;
    -webkit-box-shadow: 0 10px 0px 0px rgb(0 0 0 / 20%);
    box-shadow: 0 5px 10px -5px rgb(0 0 0 / 20%);
}

nav>ul>li.active>.subDiv {
    display: block;
}

.container {
    position: relative;
    width: 1226px;
    margin-right: auto;
    margin-left: auto;
}

.container>ul>li {
    float: left;
    position: relative;
}

.container .firstCard::before {
    content: none;
}

.container>ul>li::before {
    position: absolute;
    left: 0;
    top: 40px;
    content: "";
    width: 1px;
    height: 100px;
    background-color: #e0e0e0;
}

.card-content {
    width: 204px;
    height: 100%;
    margin: 0 auto;
    margin-top: 20px;
    padding: 17px 0;
}

.card-content .card-figure {
    margin: 0 auto 18px;
}

.card-figure,
.card-figure img {
    width: 160px;
    height: 110px;
}

.card-title,
.card-name {
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card-title {
    margin: 0 10px 2px;
    font-size: 14px;
    font-weight: 400;
    color: #333;
}

.card-price {
    text-align: center;
}

.card-price span {
    color: #ff6700;
}