<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>左侧30%右侧70%</title>
    <link rel="stylesheet" href="./left3right7.css">
</head>
<body>
        <h1>两列布局-左侧30%右侧70%</h1>
        <section>
            <h2>双inline-block方案</h2>
            <div class="wrapper wrapper-inline-block" id="wrapper">
                <div class="left">
                    左边固定宽度，高度不固定 </br> </br></br></br>高度有可能会很小，也可能很大。
                </div>
                <div class="right">
                    这里的内容可能比左侧高，也可能比左侧低。宽度需要自适应。</br>
                    基本的样式是，两个div相距20px, 左侧div宽 120px
                </div>
            </div>
        </section>
        <section>
            <h2>双float方案</h2>
            <div class="wrapper wrapper-double-float clearfix" id="wrapper">
                <div class="left">
                    左边固定宽度，高度不固定 </br> </br></br></br>高度有可能会很小，也可能很大。
                </div>
                <div class="right">
                    这里的内容可能比左侧高，也可能比左侧低。宽度需要自适应。</br>
                    基本的样式是，两个div相距20px, 左侧div宽 120px
                </div>
            </div>
        </section>
        <section>
            <h2>absolute方案</h2>
            <div class="wrapper wrapper-absolute" id="wrapper">
                <div class="left">
                    左边固定宽度，高度不固定 </br> </br></br></br>高度有可能会很小，也可能很大。
                </div>
                <div class="right">
                    这里的内容可能比左侧高，也可能比左侧低。宽度需要自适应。</br>
                    基本的样式是，两个div相距20px, 左侧div宽 120px
                </div>
            </div>
        </section>
        <section>
            <h2>flex方案</h2>
            <div class="wrapper wrapper-flex" id="wrapper">
                <div class="left">
                    左边固定宽度，高度不固定 </br> </br></br></br>高度有可能会很小，也可能很大。
                </div>
                <div class="right">
                    这里的内容可能比左侧高，也可能比左侧低。宽度需要自适应。</br>
                    基本的样式是，两个div相距20px, 左侧div宽 120px
                </div>
            </div>
        </section>
        <section>
            <h2>grid方案</h2>
            <div class="wrapper wrapper-grid" id="wrapper">
                <div class="left_grid">
                    左边固定宽度，高度不固定 </br> </br></br></br>高度有可能会很小，也可能很大。
                </div>
                <div class="right_grid">
                    这里的内容可能比左侧高，也可能比左侧低。宽度需要自适应。</br>
                    基本的样式是，两个div相距20px, 左侧div宽 120px
                </div>
            </div>
        </section>
</body>
</html>