<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    .cell {
      display: table-cell;
    }

    .absolute {
      position: absolute;
    }

    .float {
      float: left;
    }

    .inlineblock {
      display: inline-block;
    }

    .overflow {
      overflow: hidden;
    }

    .flowroot {
      display: flow-root;
    }

    .baba {
      border: 5px solid red;
    }

    .erzi {
      height: 100px;
      background: green;
      width: 400px;
      float: left;
    }
  </style>
</head>

<body>
  <!-- 触发bfc -->
  <div class="baba flowroot">
    <div class="erzi">

    </div>
  </div>
</body>

</html>