* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
html {
  overflow: hidden;
}
body {
  /* 不去设置文字颜色，而是设置透明度，得到不同的效果 */
  color: rgba(255, 255, 255, 0.7);
  min-width: 1200px;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
}
.aside {
  width: 172px;
  background: #060716;
}
.main {
  flex: 1 0 auto;
  background: #161722;
}
