/* 整体样式 */

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font: 14px/1.5 Helvetica Neue, Helvetica, Arial, Microsoft Yahei,
    Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
  color: #333;
  background-color: #fff;
  min-width: 1226px;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  font-style: normal;
}

a,
a:hover {
  text-decoration: none;
}

a:active,
a:hover {
  outline: 0;
}

button,
input {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  -webkit-appearance: button;
  cursor: pointer;
}

/* 分隔符------------------------ */
header {
  height: 100px;
  padding: 30px;
}
nav {
  background-color: #000;
  color: #fff;
  position: sticky;
  top: 0;
}
nav ul {
  margin: 0 auto;
  width: 700px;
  text-align: center;
}
nav ul li {
  display: inline-block;
  margin-right: 20px;
  font-size: 24px;
  line-height: 2;
}
nav ul li:last-child {
  margin-right: 0;
}
section {
  padding: 100px;
  text-align: center;
}
section:nth-child(2n) {
  background-color: #eee;
}
