/* 整体样式 */

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font: 14px/1.5 Helvetica Neue, Helvetica, Arial, Microsoft Yahei,
    Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
  color: #333;
  background-color: #fff;
  min-width: 1226px;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  font-style: normal;
}

a,
a:hover {
  text-decoration: none;
}

a:active,
a:hover {
  outline: 0;
}
a {
  color: inherit;
}

button,
input {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  -webkit-appearance: button;
  cursor: pointer;
}
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

/* 分隔符------------------------ */
.site-topBar {
  font-size: 12px;
  background-color: #333333;
  color: #b0b0b0;
  position: relative;
  z-index: 9999;
}
.site-topBar-container {
  width: 1226px;
  margin: 0 auto;
}
.site-topBar-container .menu {
  float: left;
}
.site-topBar-container li {
  float: left;
}
.site-topBar-container li a {
  color: #b0b0b0;
  line-height: 40px;
  display: inline-block;
}
.site-topBar-container li a:hover {
  color: #fff;
}
.site-topBar-container li .sep {
  margin: 0 0.7em;
  color: #424242;
}
.site-topBar-container .omenu {
  float: right;
}
.site-topBar-container .shopcat {
  float: right;
  margin-left: 20px;
  background-color: #424242;
  line-height: 40px;
  padding-left: 12px;
  padding-right: 12px;
  position: relative;
}
.site-topBar-container .shopcat svg {
  font-size: 20px;
}
.site-topBar-container .shopcat:hover {
  background-color: #fff;
  color: #ff6700;
  cursor: pointer;
}
.site-topBar-container .shopcat:hover .shopcat-inner {
  height: 100px;
}
.site-topBar-container .shopcat .shopcat-inner {
  height: 0;
  width: 300px;
  line-height: 100px;
  text-align: center;
  color: #333;
  position: absolute;
  top: 100%;
  right: 0;
  box-shadow: 0 2px 10px rgb(0 0 0 / 15%);
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
  -ms-transition: height 0.5s;
  -o-transition: height 0.5s;
  overflow: hidden;
  z-index: 9999;
}
.site-header {
  margin: 0 auto;
  width: 1226px;
}
.site-header .logo {
  float: left;
  margin-top: 22px;
}
.site-header .logo > img {
  width: 56px;
}
.site-header .menu {
  float: left;
  font-size: 16px;
  margin-left: 178px;
  padding-top: 12px;
}
.site-header .menu > li {
  float: left;
}
.site-header .menu > li > a {
  display: inline-block;
  padding: 26px 10px 38px;
}
.site-header .menu > li > a:hover {
  color: #ff6700;
}
.site-header .menu > li.active > .menu-inner {
  display: block;
  z-index: 1;
}
.menu-inner {
  display: none;
  border-top: 1px solid #eee;
  position: absolute;
  top: 140px;
  left: 0;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  box-shadow: 0 2px 5px rgb(0 0 0 / 10%);
}
.menu-inner:hover {
  display: block;
}
.menu-inner-container {
  width: 1226px;
  margin: 0 auto;
}
.menu-inner li {
  float: left;
  position: relative;
}
.menu-inner li a {
  display: block;
  text-align: center;
  padding: 22px;
  font-size: 12px;
}

.menu-inner li a .name {
  margin-top: 10px;
}
.menu-inner li a .price {
  margin-top: 5px;
  color: #ff6700;
  font-weight: 500;
}

.menu-inner > ul > li::before {
  position: absolute;
  left: 0;
  top: 40px;
  content: '';
  width: 1px;
  height: 100px;
  background-color: #e0e0e0;
}
.menu-inner .firstCard::before {
  content: none;
}

.site-header .search {
  float: right;
}
.search {
  float: right;
  width: 296px;
  padding-top: 25px;
}

.searchForm {
  position: relative;
  width: 296px;
  height: 50px;
}

.searchForm .search-text {
  position: absolute;
  top: 0;
  right: 51px;
  z-index: 1;
  border: 1px solid #e0e0e0;
  outline: 0;
  transition: all 0.2s;
  width: 223px;
  height: 48px;
  padding: 0 10px;
  font-size: 14px;
  line-height: 48px;
}

.search-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 52px;
  height: 48px;
  font-size: 20px;
  line-height: 24px;
  background: #fff;
  color: #616161;
  border: 1px solid #e0e0e0;
  outline: 0;
  transition: all 0.2s;
}

.search-btn:hover {
  background: #ff6700;
  color: #fff;
}
