<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Resume</title>
    <link rel="stylesheet" href="style_3.css">
</head>

<body>
    <header>
        <h1>简历</h1>
    </header>
    <main>
        <section>
            <h2>基本信息</h2>
            <ul class="clearfix">
                <li><strong>姓名</strong>张三</li>
                <li><strong>性别</strong>男</li>
                <li><strong>应聘职位</strong>Web前端工程师</li>
            </ul>
        </section>
        <section class="clearfix">
            <h2>联系方式</h2>
            <ul class="clearfix">
                <li><strong>手机</strong>12312341234</li>
                <li><strong>Email</strong><a href="joinefe@baidu.com">joinefe@baidu.com</a></li>
                <li><strong>个人主页</strong><a href="github.com/joinefe">GitHub</a></li>
            </ul>
        </section>
        <section class="clearfix">
            <h2>能力描述</h2>
            <dl>
                <dt><strong>技术能力</strong></dt>
                <dd>熟练掌握HTML，CSS，JavaScript</dd>
                <dt><strong>综合能力</strong></dt>
                <dd>良好的沟通，主动积极，努力勤奋</dd>
            </dl>
        </section>
        <section class="clearfix">
            <h2>教育经历</h2>
            <dl class="clearfix">
                <dt><strong>本科</strong></dt>
                <dd>百度前端技术学院小薇学院</dd>
                <dt><strong>研究生</strong></dt>
                <dd>百度前端技术学院大斌学院</dd>
            </dl>
        </section>
        <section class="clearfix">
            <h2>项目经历</h2>
            <dl class="clearfix">
                <dt><strong>小度小度</strong></dt>
                <dd>作为前端工程师角色参与了ABC组件的开发</dd>
                <dt><strong>SAN Doc</strong></dt>
                <dd>作为文档工程师参与了SAN Doc编写</dd>
            </dl>
        </section>
    </main>
</body>

</html>